:root {
	--primary: #44b678;
	--accent: #286d34;
	--vibrant: #17d1b2;
	--vibrant-shade: #17d1b280;
	--dark: #0a152f;
	--white: #ffffff;
	--white-shade: #eef0f5;
	--white-shade-2: #f8f8f8;

	--card-button-1: #e5e5e5;

	--body: #e8e8e8;

	--font: "Open Sans", sans-serif;
}

html {
	scroll-behavior: smooth;
}
body {
	background: var(--body);
	font-family: var(--font);
	font-size: 14px;
	font-weight: 400;
	position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font);
	color: var(--dark);
	font-weight: 700;
}

h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.17em;
}
h4 {
	font-size: 1em;
}
h5 {
	font-size: 0.83em;
}
h6 {
	font-size: 0.67em;
}
p {
	font-size: 14px;
	color: #777777;
	font-weight: 400;
}
hr {
	border-top: 0.1rem solid #dfe4e3;
	margin: 2rem 0;
}
input,
textarea {
	border-radius: 6px;
	border: 1px solid #c3cecc;
	font-size: 14px;
	color: var(--dark);
	font-weight: 400;
	font-family: var(--font);
	margin-bottom: 0;
}
textarea {
	min-height: auto;
	height: auto;
}
input:focus,
textarea:focus {
	border-color: var(--primary) !important;
}
input[type="radio"]:checked {
	accent-color: green;
}
a {
	text-decoration: underline;
	font-weight: 600;
	color: var(--vibrant);
}
form {
	margin-bottom: 0;
}

.container {
	max-width: 144rem;
	position: initial;
}
.column.column-0 {
	flex: 0 0 auto;
	width: auto;
}
.inline-flex {
	display: inline-flex;
	align-items: center;
}
.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}
.justify-between {
	justify-content: space-between;
}
.justify-start {
	justify-content: flex-start;
}
.button {
	margin-bottom: 0;
	height: auto;
	text-transform: initial;
	font-family: var(--font);
	font-size: 14px;
	font-weight: 500;
	border-radius: 5px;
}

.disabled {
	opacity: 0.7;
	pointer-events: auto;
	cursor: not-allowed;
}

/* ----OutLine Button---- */
.button.button-outline {
	border-color: var(--white-shade);
	color: var(--white-shade);
}
.button.button-outline:hover {
	background: var(--accent);
	border-color: var(--accent);
	color: var(--white);
}

/* ----Next Prev Button---- */
.button-previous,
.button-next,
.button-cart {
	display: inline-flex;
	align-items: center;
	gap: 10px;
	font-weight: 600;
}
.button.button-previous {
	background-color: var(--card-button-1);
	border-color: var(--card-button-1);
	color: #424242;
}
.button.button-next {
	background-color: var(--accent);
	border-color: var(--accent);
	color: #f0f5f3;
}

/* Cart Button */
.button.button-cart {
	background-color: var(--primary);
	border-color: var(--primary);
	color: #f0f5f3;
	padding: 0.5rem 3rem;
}

/* Settings Button */
.button.button-settings {
	padding: initial;
	width: 40px;
	height: 40px;
	border-radius: 8px;
	display: inline-grid;
	align-items: center;
	justify-content: center;
	/* padding: 26px; */
	background: var(--white);
	border-color: var(--white);
}

/* ----Header---- */
.pilar_header {
	padding: 15px 0px !important;
	background: var(--dark);
}
.pilar_header .row {
	align-items: center;
	gap: 15px;
}

/* ----Logo---- */
.pilar_logo {
	max-width: 140px;
	display: flex;
	align-content: center;
	align-items: center;
}
.pilar_logo img {
	width: 100%;
	object-fit: cover;
}

/* ----Header Breadcrumbs---- */
.breadcrumbs {
	margin-bottom: 0px;
}
.breadcrumbs li {
	display: inline;
	margin-right: 5px;
	color: var(--white-shade);
	font-size: 14px;
	font-weight: 400;
}
.breadcrumbs li:not(:last-child):after {
	content: "-";
	margin-left: 10px;
	margin-right: 10px;
}
.pilar_indicator {
	padding: 2px 10px;
	border-radius: 20px;
	background: var(--white-shade);
	color: var(--dark);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	line-height: normal;
	margin-right: 5px;
	font-weight: 600;
}
.active .pilar_indicator {
	background: var(--primary);
	color: var(--white);
}
.done.active .pilar_indicator {
	background: var(--white);
}

.pilar_indicator .check_mark {
	display: none;
}
.done.active .pilar_indicator .check_mark {
	display: block;
}
.done.active .pilar_indicator .number {
	display: none;
}

/* ----Main Wrapper---- */
main.pilar_main_wrapper {
	padding: 50px 0px;
	position: relative;
}
.pilar_main_wrapper .pilar_devider {
	justify-content: space-between;
}

/* Product Card */
.pilar_product_card {
	background: var(--white);
	border-radius: 12px;
	display: flex;
	flex-direction: column;
}

/* Card Header */
.pilar_card_header {
	min-height: 115px;
}

/* card Body */
.pilar_card_body {
	height: 55rem;
	overflow: auto;
	scroll-behavior: smooth;
}
.pilar_card_body::-webkit-scrollbar {
	display: none;
}

.pilar_modal {
	margin-bottom: 10px;
}
.pilar_header_content {
	margin-bottom: 0px;
}
.pilar_modal_opener,
.pilar_modal_hide {
	margin-right: 10px;
	display: inline-flex;
	align-items: center;
}
.pilar_title {
	margin-bottom: 0px !important;
}

.pilar_main_point {
	margin-bottom: 25px;
}
.pilar_point {
	margin-right: 10px;
}

.pilar_input h5 {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 10px;
}
.pilar_input_group {
	margin-bottom: 20px;
}
.pilar_input_group_radio {
	margin-bottom: 20px;
	gap: 10px;
}
.pilar_input_group .column {
	margin-bottom: 0px;
}

.pilar_input_group_radio label,
.pilar_input_group label {
	font-size: 14px;
	font-weight: 500;
	color: var(--dark);
}

/* Pilar Image Input */
.pilar_input_group.image {
	gap: initial;
	flex-wrap: wrap;
}
.pilar_input_group.image label {
	margin-bottom: 20px;
}

.pilar_image_input {
	background: var(--white);
	border: 1px solid #c3cecc;
	padding: 8px;
	border-radius: 12px;
}
.pilar_image_input input[type="radio"] {
	display: none;
}
.pilar_image_input .pilar_variation_image {
	width: 100%;
	height: 105px;
	object-fit: cover;
	border-radius: 6px;
	margin-bottom: 5px;
	box-shadow: 0px 2px 6px #00000014;
}
.pilar_image_input .row {
	width: 100%;
}
.pilar_image_input .pilar_image_title {
	margin-bottom: 2px;
}
.pilar_image_input .pilar_image_content {
	margin-bottom: 0px;
}
.pilar_image_input .button-settings {
	margin-right: 0px;
	background: var(--card-button-1);
}
.pilar_preview_image {
	margin-bottom: 20px;
}
.pilar_preview_image img {
	max-height: 56rem;
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 12px;
}

.pilar_replicate img {
	width: 100%;
	height: 6.5rem;
	object-fit: cover;
	border-radius: 12px;
}
.pilar_replicate .active img {
	border: 4px solid var(--vibrant);
}

/* Card Footer */
.pilar_product_card .pillar_product_footer {
	display: inline-block;
	width: 100%;
	margin-top: auto;
	padding: 15px;
	background: var(--white-shade-2);
	border-radius: 0px 0px 12px 12px;
}

.pillar_product_footer.pilar_price_section {
	background: var(--dark);
	padding: 30px 40px;
}

/* Modal Box */
.pilar_modal_box {
	background: var(--white);
	position: absolute;
	inset: 50px 0px;
	z-index: 10;
	border-radius: 0px 12px 12px 0px;
	width: 50%;
	left: -200%;
	transition: all 0.4s;
	overflow: auto;
}
.pilar_modal_box.active {
	left: 0%;
	transition: all 0.4s;
}
.pilar_modal_header {
	padding: 15px 80px;
	background: var(--white-shade-2);
	border-radius: 0px 12px 0px 0px;
	position: sticky;
	top: 0;
}
.pilar_modal_body {
	padding: 30px 80px;
	overflow: auto;
}

.pilar_modal_body::scrollbar {
	display: none;
}
/* Step */

.pilar_step {
	display: none;
	height: 100%;
	padding: 30px 20px 0px;
}

/* Settings */
.pilar_bookmark {
	text-align: right;
	margin-bottom: 30px;
}
.pilar_bookmark .button-settings .pilar_save {
	display: block;
}
.pilar_bookmark .button-settings.active .pilar_save {
	display: none;
}
.pilar_bookmark .button-settings .pilar_saved {
	display: none;
}
.pilar_bookmark .button-settings.active .pilar_saved {
	display: block;
}

.pilar_size_view {
	text-align: right;
	margin-bottom: 30px;
}
.pilar_size_view .button:first-child {
	margin-bottom: 10px;
}

.pilar_form_Reset {
	text-align: right;
}

/* Product Image */
.pilar_product_image {
	max-width: 345px;
	width: 100%;
	height: 60rem;
	margin: 0 auto;
	display: flex;
	align-items: center;
}
.pilar_product_image img {
	width: 100%;
	max-height: 360px;
	object-fit: contain;
}

/* ---Product Price--- */
.pilar_product_price {
	font-size: 36px;
	font-weight: 700;
	color: var(--white);
	margin-bottom: 12px;
}
.pilar_price_content {
	color: #e4edea;
	font-size: 12px;
	margin-bottom: 5px;
}

.pilar_price_content span {
	color: var(--primary);
}

.pilar_price_vat {
	color: #f0f5f3;
	font-size: 14px;
	margin-bottom: 0px;
}

/* Print Item */
.pilar_invoice .row.inline-flex {
	margin-bottom: 10px;
}

.pilar_print_item button.button-print {
	color: #026aa2;
	border: 1px solid #b9e6fe;
	background: #f0f9ff;
	font-size: 12px;
	padding: 0px 10px;
}

.pilar_print_item button.button-delete {
	color: #026aa2;
	border: 1px solid #fecdca;
	background: #fef3f2;
	font-size: 12px;
	padding: 0px 10px;
	border-radius: 6px;
}
.pilar_download_title {
	margin-bottom: 0;
}
.pilar_item_description {
	margin-bottom: 20px;
}
.pilar_item_description p {
	margin-bottom: 5px;
}

/* ---------------------Cart--------------------- */

.pilar_cart {
	background-color: var(--white);
	border-radius: 12px;
}

@media (max-width: 768px) {
	.container {
		max-width: 75rem;
		position: initial;
	}
	.pilar_price_section .row.flex {
		flex-direction: column !important;
	}

	.pilar_product_price {
		font-size: 24px;
	}

	.pilar_price_vat {
		margin-bottom: 15px;
	}

	.pillar_product_footer.pilar_price_section {
		background: var(--dark);
		padding: 10px 20px;
	}
}

/* @media (min-width: 768rem) {
	.container {
		max-width: 65rem;
		position: initial;
	}
} */
